# Created by https://www.toptal.com/developers/gitignore/api/angular
# Edit at https://www.toptal.com/developers/gitignore?templates=angular

### Angular ###
## Angular ##
# compiled output
dist/
tmp/
app/**/*.js
app/**/*.js.map

# dependencies
node_modules/
bower_components/

# IDEs and editors
.idea/

# misc
.sass-cache/
connect.lock/
coverage/
libpeerconnection.log/
npm-debug.log
testem.log
typings/
.angular/

# e2e
e2e/*.js
e2e/*.map

# System Files
.DS_Store/

# End of https://www.toptal.com/developers/gitignore/api/angular
node_modules/@angular/core/fesm2015/core.mjs.map
node_modules/@angular/core/fesm2020/core.mjs.map
node_modules/@angular/core/schematics/ng-generate/standalone-migration/bundle.js.map
node_modules/esbuild-wasm/esbuild.wasm
