<main>
  <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="messageError">
    {{messageError}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <div class="container">
    
    <div class="row">
      <div class="col">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <h4 class="mb-3">Datos personales</h4>
          <div class="row">
            <div class="col">
              <label for="nombre" class="form-label">{{'REGISTRO.FORM.NOMBRE' | translate}}</label>
              <input type="text" class="form-control" id="nombre" maxlength="70" formControlName="nombre"
                [ngClass]="{error: getControl('nombre')?.errors && getControl('nombre').touched}">
              <div *ngIf="getControl('nombre')?.errors && getControl('nombre').touched">
                <small class="text-danger"
                  *ngIf="getControl('nombre')?.errors?.['required']">{{'REGISTRO.FORM.ERROR.NOMBRE_REQ' |
                  translate}}</small>
                <small class="text-danger"
                  *ngIf="getControl('nombre')?.errors?.['isNotNumber']">{{'REGISTRO.FORM.ERROR.INCORRECT_FORMAT' |
                  translate}}</small>
              </div>
            </div>
            <div class="col">
              <label for="apellido1" class="form-label">{{'REGISTRO.FORM.PRIMER_APELLIDO' | translate}}</label>
              <input type="text" class="form-control" id="apellido1" maxlength="70" formControlName="apellido1"
                [ngClass]="{error: getControl('apellido1')?.errors && getControl('apellido1').touched}">
              <div *ngIf="getControl('apellido1')?.errors && getControl('apellido1').touched">
                <small class="text-danger"
                  *ngIf="getControl('apellido1')?.errors?.['required']">{{'REGISTRO.FORM.ERROR.APELLIDO1_REQ' |
                  translate}}</small>
                <small class="text-danger"
                  *ngIf="getControl('apellido1')?.errors?.['isNotNumber']">{{'REGISTRO.FORM.ERROR.INCORRECT_FORMAT' |
                  translate}}</small>
              </div>
            </div>
            <div class="col">
              <label for="apellido2" class="form-label">{{'REGISTRO.FORM.SEGUNDO_APELLIDO' | translate}}</label>
              <input type="text" class="form-control" id="apellido2" maxlength="70" formControlName="apellido2"
                [ngClass]="{error: getControl('apellido2')?.errors && getControl('apellido2').touched}">
              <div *ngIf="getControl('apellido2')?.errors && getControl('apellido2').touched">
                <small class="text-danger"
                  *ngIf="getControl('apellido2')?.errors?.['isNotNumber']">{{'REGISTRO.FORM.ERROR.INCORRECT_FORMAT' |
                  translate}}</small>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div>
                <label for="sexo" class="form-label">{{'REGISTRO.FORM.SEXO' | translate}}</label>
                <mat-form-field>
                  <mat-label>{{'REGISTRO.FORM.SELECT_OPTION' | translate}}</mat-label>
                  <mat-select formControlName="sexo">
                    <mat-option *ngFor="let sexoItem of sexoItems" [value]="sexoItem">{{sexoItem}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <div *ngIf="getControl('sexo')?.errors && getControl('sexo').touched">
                  <small class="text-danger"
                    *ngIf="getControl('sexo')?.errors?.['required']">{{'REGISTRO.FORM.ERROR.SEXO_REQ' |
                    translate}}</small>
                </div>
              </div>
            </div>
            <div class="col">
              <div>
                <label for="pais" class="form-label">{{'REGISTRO.FORM.PAIS' | translate}}</label>
                <mat-form-field appearance="fill">
                  <mat-label>{{'REGISTRO.FORM.SELECT_OPTION' | translate}}</mat-label>
                  <mat-select formControlName="idPais">
                    <mat-option *ngFor="let paisItem of paisItems"
                      [value]="paisItem.idPais">{{paisItem.pais}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <div *ngIf="getControl('pais')?.errors && getControl('pais').touched">
                  <small class="text-danger"
                    *ngIf="getControl('pais')?.errors?.['required']">{{'REGISTRO.FORM.ERROR.PAIS_REQ' |
                    translate}}</small>
                </div>
              </div>
            </div>
            <div class="col">
              <label for="email" class="form-label">{{'REGISTRO.FORM.EMAIL' | translate}}</label>
              <input type="text" class="form-control" id="email" maxlength="70" formControlName="email"
                [ngClass]="{error: getControl('email')?.errors && getControl('email').touched}">
            </div>
          </div>
          <h4 class="mb-3">Cuentas</h4>
          <div class="row">
              <div ngbAccordion>
                <div ngbAccordionItem [collapsed]="false">
                  <h2 ngbAccordionHeader>
                    <button ngbAccordionButton>OnlyFans</button>
                  </h2>
                  <div ngbAccordionCollapse>
                    <div ngbAccordionBody>
                      <ng-template>
                        <div class="row">
                          <div class="col-sm">
                            <label for="onlyFansAccount" class="form-label">{{'CORE.USERNAME' | translate}}</label>
                            <input type="text" textH class="form-control" id="onlyFansAccount" maxlength="70"
                              formControlName="onlyFansAccount"
                              [ngClass]="{error: getControl('onlyFansAccount')?.errors && getControl('onlyFansAccount').touched}">
                          </div>
                          <div class="col-sm message-verification">
                            <strong>{{'REGISTRO.FORM.OF_TEXT_OF_VERIFICATION' | translate}}</strong>
                          </div>
                        </div>
                      </ng-template>
                    </div>
                  </div>
                </div>
              </div>
              <div ngbAccordion>
                <div ngbAccordionItem [collapsed]="true">
                  <h2 ngbAccordionHeader>
                    <button ngbAccordionButton>Fansly</button>
                  </h2>
                  <div ngbAccordionCollapse>
                    <div ngbAccordionBody>
                      <ng-template>
                        <div class="row">
                          <div class="col-sm">
                            <label for="fanslyAccount" class="form-label">{{'CORE.USERNAME' | translate}}</label>
                            <input type="text" textH class="form-control" id="fanslyAccount" maxlength="70"
                              formControlName="fanslyAccount"
                              [ngClass]="{error: getControl('fanslyAccount')?.errors && getControl('fanslyAccount').touched}">
                          </div>
                          <div class="col-sm message-verification">
                            <strong>{{'REGISTRO.FORM.FL_TEXT_OF_VERIFICATION' | translate}}</strong>
                          </div>
                        </div>
                      </ng-template>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <div>
            <button mat-raised-button color="primary" type="submit">Siguiente</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{'REGISTRO.FORM.MODAL.TITLE' | translate}}</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <p align="justify">{{'REGISTRO.FORM.MODAL.BODY' | translate}}</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="closeModal()">{{'REGISTRO.FORM.MODAL.OK' | translate}}</button>
    </div>
  </ng-template>

</main>