<main>
    <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="messageError">
        {{messageError}}
      </div>
    <div class="card bg-dark text-white">
        <div class="card-header"></div>
        <div class="card-body">
            <form *ngIf="postForm" [formGroup]="postForm">
                <div class="row">
                    <div class="col-sm">
                        <label for="descripcion" class="form-label">{{'CREACION_POST.DESCRIPCION' | translate}}</label>
                        <textarea type="text" class="form-control" id="nombre" maxlength="500"
                            formControlName="descripcion"></textarea>
                            <div *ngIf="getControl('descripcion')?.errors && getControl('descripcion').touched">
                                <small class="text-danger"
                                  *ngIf="getControl('descripcion')?.errors?.['required']">{{'CREACION_POST.FORM.ERROR.DESC_REQ' |
                                  translate}}</small>
                            </div>
                            <div class="input-group">
                                <input (change)="subidaFoto($event)" type="file" class="form-control" id="inputGroupFile04"
                                    aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                            </div>
                    </div>
                    <div class="col-sm">
                        <img *ngIf="postPrecargado && !imagenSeleccionada" src="{{urlImgApi + postPrecargado.foto}}" alt="" class="img-thumnnail rounded">
                        <img *ngIf="imagenSeleccionada" src="{{urlImagenSeleccionada}}" alt="" class="img-thumnnail rounded">
                    </div>
                </div>
            </form>
        </div>
        <button (click)="addPost()">Test</button>
    </div>
</main>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > {{"CORE.CARGANDO" | translate}} </p></ngx-spinner>