<div class="card" style="width: 18rem;">
    <img src="https://media.licdn.com/dms/image/C4D03AQHP-2cnyaa6Gw/profile-displayphoto-shrink_400_400/0/1658175680086?e=1686787200&v=beta&t=IQ5LOrNz3BEqjOVoruYG_VT3jFs4No4wqS5YKV7j4Bk" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{postInfo.username}}</h5>
      <p class="card-text">{{postInfo.descripcion | truncate:100}}</p>
      <button (click)="openPost()" class="btn btn-primary">{{"HOME.INICIAR" | translate}}</button>
    </div>
  </div>